p{
    color: rgb(249, 255, 74);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}

h1{
    text-align: center;
}
h2{
    color: rgb(0, 0, 0);
    font-weight: 1000;
}
body{
    background-image: url(https://wallpaper.dog/large/10896792.jpg);
}
